<div class="container-fluid jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">PelisApp</h1>
    <p class="lead">Esta es una app de películas</p>
  </div>
</div>

<div class="mt-5">
  <h3>Películas en Cartelera</h3>
  <div class="row">
    <div class="col-6">
      <div class="row">
        imagen grande 1
      </div>
      <div class="row">
        <div class="col-6">pequeña 1</div>
        <div class="col-6">pequeña 2</div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">pequeña 3</div>
        <div class="col-6">pequeña 4</div>
      </div>
      <div class="row">
          imagen grande 2
        </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <h3>Películas Populares</h3>
</div>

<div class="mt-5">
  <h3>Películas Infantiles</h3>
</div>
