<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">PelisApp</h1>
    <p class="lead">Esta es una app de películas</p>
  </div>
</div>

<div class="container">

  <app-home [peliculas]="pelisCartelera | slice:0:6" [titulo]="'Películas en Cartelera'"></app-home>
  <div class="mb-5"></div>
  <app-home [peliculas]="pelisPopulares | slice:0:6" [titulo]="'Películas Populares'"></app-home>
  <div class="mb-5"></div>
  <app-home [peliculas]="pelisInfantiles | slice:0:6" [titulo]="'Películas Infantiles'"></app-home>

</div>
