<h1>{{titulo}}</h1>
<hr>
<div class="row" *ngIf="peliculas">

  <div class="col-sm-6">

    <div class="row">

      <div (click)="verPeli(peliculas[0].id)" class="col-md-12 div-pic-1 puntero" [ngStyle]="{'background-image': 'url('+ (peliculas[0] | sinfoto:'bp' ) +')'}">
        <p class="pic-titulo">
          {{peliculas[0].title}}
        </p>
      </div>

    </div>

    <div class="row">

      <div (click)="verPeli(peliculas[1].id)" class="col-md-6 div-pic-2 puntero" [ngStyle]="{'background-image': 'url('+ (peliculas[1] | sinfoto:'bp') +')'}">
        <p class="pic-titulo">
          {{peliculas[1].title}}
        </p>
      </div>

      <div (click)="verPeli(peliculas[2].id)" class="col-md-6 div-pic-2 puntero" [ngStyle]="{'background-image': 'url('+ (peliculas[2] | sinfoto:'bp') +')'}">
        <p class="pic-titulo">
          {{peliculas[2].title}}
        </p>
      </div>

    </div>
  </div>

  <div class="col-sm-6">

    <div class="row">

      <div (click)="verPeli(peliculas[3].id)" class="col-md-6 div-pic-2 puntero" [ngStyle]="{'background-image': 'url('+ (peliculas[3] | sinfoto:'bp') +')'}">
        <p class="pic-titulo">
          {{peliculas[3].title}}
        </p>
      </div>

      <div (click)="verPeli(peliculas[4].id)" class="col-md-6 div-pic-2 puntero" [ngStyle]="{'background-image': 'url('+ (peliculas[4] | sinfoto:'bp') +')'}">
        <p class="pic-titulo">
          {{peliculas[4].title}}
        </p>
      </div>

    </div>

    <div class="row">

      <div (click)="verPeli(peliculas[5].id)" class="col-md-12 div-pic-1 puntero" [ngStyle]="{'background-image': 'url('+ (peliculas[5] | sinfoto:'bp') +')'}">
        <p class="pic-titulo">
          {{peliculas[5].title}}
        </p>
      </div>

    </div>
  </div>
</div>
